<h1>Formulario de contacto</h1>

<form #contacto="ngForm" (ngSubmit)="onSubmit(contacto)">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required>
    <span *ngIf="nombre.touched && !nombre.valid">*El nombre es obligatorio</span>
    <hr>
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuario.apellido">
    <hr>
    <label for="email">Email</label>
    <input type="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" required>
    <span *ngIf="email.touched && !email.valid">*El email es obligatorio</span>
    <hr>
    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje" cols="30" rows="10" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required></textarea>
    <span *ngIf="mensaje.touched && !mensaje.valid">*El mensaje es obligatorio</span>
    <hr>
    <button type="submit" value="Enviar" [disabled]="!contacto.form.valid">Enviar</button>
</form>